*{
    font-family: "Roboto";
    margin: 0 auto;

}

.whole-container{
    width: 1900px;
    height: 4000px;
}

.middle-container{
    width: 1000px;
    height: 2000px;
    background-color: black;
}

.top-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carbon-fiber{
    position: relative;
    width: 100%;
}

.high-end-line-cut{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    height: 115px;
    width: 800px;
    justify-content: space-between;
}

.profile-div{
    
}

.helmet-div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helmet-icon{
    width: 50px;
}

.header-bottom{
    display: flex;
}

.top-nav{
    display: flex;
    width: 750px;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
}

.top-nav-link{
    color: white;
}

.schedule-container{
    height: 550px;
    width: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedules{
    list-style: none;
}